.hero
{
    justify-content: center;
    display: flex;
    position: relative;
    height: 732px;
    margin-top: 7px;
}

.hero__background
{
    background-image: url(../../../assets/images/heroBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero__wrapper
{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.hero__title
{
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 66px;
    display: flex;
    max-width: 489px;
    min-width: 338px;
    font-weight: 700;
    line-height: 0.9;
}

.hero__description
{
    font-family: "Helvetica Neue", sans-serif;
    color: #1A1A1A;
    display: flex;
    max-width: 326px;
    min-width: 292px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
}

.hero__button
{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 1.4;
    font-size: 15px;
    color: white;
    display: flex;
    width: fit-content;
    padding: 25px 74px;
    border: none;
    background-color: #444444;
}


.hero__container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    z-index: 1;
}

.hero__content
{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

@media (max-width: 1200px)
{
    .hero__container
    {
        padding: 50px 0;
        justify-content: center;
    }

    .hero
    {
        height: 900px;
    }


    .hero__background
    {
        position: inherit;
    }

    .hero
    {
        flex-direction: column;
        gap: 26px;
    }

    .hero__title
    {
        text-align: center;
    }

    .hero__description
    {
        text-align: center;

    }

    .hero__wrapper
    {
        align-items: center;
    }

    .hero__content
    {
        align-items: center;
    }
}

@media (max-width: 768px)
{
    .hero
    {
        height: 602px;
    }

    .hero__container
    {
        padding: 15px;
        justify-content: start;
    }

    .hero__title
    {
        text-align: start;
        font-size: 38px;
    }

    .hero__description
    {
        font-size: 13px;
        text-align: start;
    }

    .hero__button
    {
        font-size: 12px;
        padding: 16px 43px;
    }

    .hero__wrapper
    {
        align-items: start;
        gap: 11px;
    }

    .hero__content
    {
        gap: 10px;
        align-items: start;
    }
}

@media (max-width: 425px) 
{
    .hero__background
    {
        background-image: url(../../../assets/images/CroppedBackground.png);

    }
}